@use "../../base/variables" as *;
@use "../../base/mixins" as *;

.header-nav {
    //Only display for tablet or larger view
    display: none;

    @include tabletQuery {
        display: block;
    }
    nav {
        ul {
            @include flexRow;
            justify-content: space-between;

            li {
                transition: all 0.3s ease-out;
                text-transform: capitalize;
                background: $color__nav-background;
                border-radius: 8px;
                backdrop-filter: blur(3px);

                &:hover,
                &:focus {
                    transform: translateY(-0.25em);
                    transition: all 0.3s ease-out;
                }

                &:first-child {
                    margin-right: 0.5rem;
                }

                a {
                    padding: 1rem;
                    transition: all 0.3s ease-out;

                    &:hover,
                    &:focus {
                        font-weight: 600;
                        transition: all 0.3s ease-out;
                    }
                }
            }
        }
    }
}
